# Encapsulation
    --> encapsulation is reached in OOP using keywords  (Access modefiers)
        --> * public (accessed anywhere in/out the class using object/instance)
        --> * private (accessed anywhere in the class only)
        --> * protected (accessed anywhere in the class or the derived classes)

# In Python
    --> No Access modifiers 
    --> but it can be reached using naming convension
        --> * public --> (method / variable its name starts with char [a->z])
 
        --> * protected (method / variable its name starts with  _ )
 
        --> * private (method / variable its name starts with  __)

In [2]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.__salary = salary # private 
emp = Employee("Ahmed", 'ahmed@gmail.com', 43)
print(emp.__dict__)

{'name': 'Ahmed', '_email': 'ahmed@gmail.com', '_Employee__salary': 43}

In [3]:
print(emp.name)
emp.name = 'updated'
print(emp.__dict__)

Ahmed
{'name': 'updated', '_email': 'ahmed@gmail.com', '_Employee__salary': 43}

In [4]:
print(emp._email)  # access protected member --> 
# --> but ethically don't do this

ahmed@gmail.com

In [5]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.__salary = salary # private 
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
emp = Employee("Ahmed", 'ahmed@gmail.com', 43)

In [6]:
print(emp._email)

ahmed@gmail.com

what about private ?

In [7]:
print(emp.__salary)

AttributeError: 'Employee' object has no attribute '__salary'

In [8]:
print(emp.city)

AttributeError: 'Employee' object has no attribute 'city'

In [9]:
print(emp.__dict__)

{'name': 'Ahmed', '_email': 'ahmed@gmail.com', '_Employee__salary': 43}

In [10]:
print(emp._Employee__salary)  # Plz don't do this

43

# access modifiers limit accessibility
# apply logic on data

In [11]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.__salary = salary # private 
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
    # access private members setters and getters
    def set_salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")
    def get_salary(self):
        return self.__salary
emp = Employee("Ahmed", 'ahmed@gmail.com', 43)

In [12]:
print(emp.__salary)

AttributeError: 'Employee' object has no attribute '__salary'

In [13]:
emp.__salary = 10000

In [14]:
print(emp.__dict__)

{'name': 'Ahmed', '_email': 'ahmed@gmail.com', '_Employee__salary': 43, '__salary': 10000}

In [15]:
emp._Employee__salary = 100000 # ethically don't do this

The right way to access private members is using setter and getter

In [16]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.__salary = salary # private 
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
    # access private members setters and getters
    def set_salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")
    def get_salary(self):
        return self.__salary
emp = Employee("Ahmed", 'ahmed@gmail.com', 43)

In [17]:
emp = Employee("Ahmed", 'ahmed@gmail.com', 43)

In [18]:
print(emp.get_salary())

43

In [19]:
emp.set_salary("iti")

TypeError: salary must be an integer or float

In [20]:
emp.set_salary(10000)
print(emp.__dict__)

{'name': 'Ahmed', '_email': 'ahmed@gmail.com', '_Employee__salary': 10000}

# Property decorator

In [23]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.__salary = salary # private 
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
    
    @property
    def salary(self):  # property decorator --> used to act with function like a property --> mostly used to allow getting value from object 
        return self.__salary
    
    def get_salary(self):
        return self.__salary
    def set_salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")

emp = Employee("Ahmed", 'ahmed@gmail.com', 43)

In [25]:
print(emp.get_salary())
print(f"using property {emp.salary}")

43
using property 43

In [26]:
emp.salary = 10000

AttributeError: property 'salary' of 'Employee' object has no setter

In [27]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.__salary = salary # private 
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
    
    @property
    def salary(self):  
        return self.__salary
    
    @property
    def netSalary(self):
        return self.__salary*.8
    
    
    def set_salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")

emp = Employee("Ahmed", 'ahmed@gmail.com', 43)

In [28]:
print(emp.__dict__)

{'name': 'Ahmed', '_email': 'ahmed@gmail.com', '_Employee__salary': 43}

In [29]:
print(emp.netSalary)

34.4

In [30]:
print(emp.salary)

43

setting property?

In [31]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.__salary = salary # private 
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
    

    @property
    def netSalary(self):
        return self.__salary*.8
    @property
    def salary(self):  
        return self.__salary
    @salary.setter
    def salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")
    
    
emp = Employee("Ahmed", 'ahmed@gmail.com', 43)

In [32]:
print(emp.salary)

43

In [33]:
emp.salary = "ejkh"

TypeError: salary must be an integer or float

In [35]:
emp.salary = 100000
print(emp.__dict__)

{'name': 'Ahmed', '_email': 'ahmed@gmail.com', '_Employee__salary': 100000}

# check this

In [36]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.__salary = salary # private 
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
    

    @property
    def netSalary(self):
        return self.__salary*.8
    @property
    def salary(self):  
        return self.__salary
    @salary.setter
    def salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")

In [37]:
emp = Employee("Ahmed", "ahmed@gmail.com", "thousand dolar")

In [38]:
print(emp.__dict__)

{'name': 'Ahmed', '_email': 'ahmed@gmail.com', '_Employee__salary': 'thousand dolar'}

In [39]:
print(emp.netSalary)

TypeError: can't multiply sequence by non-int of type 'float'

# to solve this

In [40]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
    

    @property
    def netSalary(self):
        return self.__salary*.8
    @property
    def salary(self):  
        return self.__salary
    @salary.setter
    def salary(self, salary):
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")

In [42]:
emp = Employee("Ahmed",'ahmed@gmail.com','ukfddjhk')

TypeError: salary must be an integer or float

In [43]:
emp  = Employee('dd','ddd', 28732)

In [44]:
emp.display()

namedd , _email=ddd , salary=28732

We need to enhance the code ...

In [47]:
class Employee:
    def __init__(self, name,email, salary):
        self.name = name  # public
        self._email = email  # protected
        self.salary = salary 
        
    def display(self):
        print(f"name{self.name} , _email={self._email} , salary={self.__salary}")
    

    @property
    def netSalary(self):
        return self.__salary*.8
    @property
    def salary(self):  
        return self.__salary
    @salary.setter
    def salary(self, salary):
        print("--- setter called ----")
        if isinstance(salary, int) or isinstance(salary, float) and salary > 0 :
            self.__salary = salary
        else:
            raise TypeError("salary must be an integer or float")
        
emp = Employee("fff", "fff", 444)
# emp.salary = 4455 # call salary.setter

--- setter called ----