# use external package tabulate to display data in table

In [2]:
sample_data=[
    ['id', 'name', 'age'],
    [1, 'John', 23],
    [2, 'andrew', 23],
    [3,'test', 25]
]

In [3]:
from tabulate import tabulate
print(tabulate(sample_data))

--  ------  ---
id  name    age
1   John    23
2   andrew  23
3   test    25
--  ------  ---

In [4]:
from tabulate import tabulate
print(tabulate(sample_data, headers='firstrow'))

  id  name      age
----  ------  -----
   1  John       23
   2  andrew     23
   3  test       25

In [5]:
from tabulate import tabulate
print(tabulate(sample_data, headers='firstrow', tablefmt='fancy_grid'))

╒══════╤════════╤═══════╕
│   id │ name   │   age │
╞══════╪════════╪═══════╡
│    1 │ John   │    23 │
├──────┼────────┼───────┤
│    2 │ andrew │    23 │
├──────┼────────┼───────┤
│    3 │ test   │    25 │
╘══════╧════════╧═══════╛

In [6]:
print(tabulate(sample_data, headers='firstrow', tablefmt='grid'))

+------+--------+-------+
|   id | name   |   age |
+======+========+=======+
|    1 | John   |    23 |
+------+--------+-------+
|    2 | andrew |    23 |
+------+--------+-------+
|    3 | test   |    25 |
+------+--------+-------+

# get data from json file and display it in a table

In [11]:
import json
from tabulate import tabulate
with open('students.json', 'r') as stdfile:
    students_data = json.load(stdfile)
    print(tabulate(students_data,headers='keys', tablefmt='fancy_grid', showindex='always'))

╒════╤══════╤═════════╤═════════╕
│    │   id │ name    │ track   │
╞════╪══════╪═════════╪═════════╡
│  0 │    1 │ ahmed   │ Cloud   │
├────┼──────┼─────────┼─────────┤
│  1 │    2 │ ali     │ Cloud   │
├────┼──────┼─────────┼─────────┤
│  2 │    3 │ mohamed │ Cloud   │
├────┼──────┼─────────┼─────────┤
│  3 │  100 │ abbass  │ de      │
├────┼──────┼─────────┼─────────┤
│  4 │  100 │ abbass  │ de      │
├────┼──────┼─────────┼─────────┤
│  5 │  200 │ test    │ DE      │
╘════╧══════╧═════════╧═════════╛