Type conversion

In [1]:
name ='ahmed'
print(type(name))

<class 'str'>

In [3]:
num = 10 
print(num, type(num))

10 <class 'int'>

convert num to string

In [4]:
num = str(num)
print(num, type(num))

10 <class 'str'>

In [5]:
mybool = True 
print(mybool, type(mybool))

True <class 'bool'>

In [6]:
mybool = str(mybool)
print(mybool, type(mybool))

True <class 'str'>

In [7]:
name= 'noha'
print(type(name),name)
name = bool(name)
print(type(name),name)

<class 'str'> noha
<class 'bool'> True

In [8]:
num = 0 
print(num, type(num))
num  = bool(num)
print(num, type(num))

0 <class 'int'>
False <class 'bool'>

convert string to int

In [9]:
year = "2024"
print(year, type(year))
year = int(year)
print(year, type(year))

2024 <class 'str'>
2024 <class 'int'>

In [10]:
name = 'noha'
print(type(name),name)
name = int(name)
print(name, type(name))

<class 'str'> noha

ValueError: invalid literal for int() with base 10: 'noha'

when I need to convert from string to int ,,, ---> conversion is convenient
if string contains only numbers otherwise it will raise errors

arthimetic operators

In [ ]:
num1 = 10
num2= 100

and return True only if all the expression parts represent True

In [17]:
print(100 and 10 and 'test' and 66)  # 66 represent True

66

at least one of the expression parts represent True --> return True

In [12]:
print(100 or 10 or 200 )

100

In [13]:
print(-100 or 'iti' )

-100

In [14]:
print('iti' and False and 'noha' and 33)

False

if -condition

In [19]:
num = 10 
if num > 10:
    print("---- greater than ")
else:
    print(" given number is less than 10 ")

 given number is less than 10

In [22]:
num2 = 5
if num2 %3 == 0:
    print("divisible by 3")
elif num2 % 2 == 0:
    print("divisible by 2")
elif num2 %5 == 0:
    print("divisible by 5")
else:
    print("divisible by 1")

divisible by 5