List is mutable datatype =--> can hold different values from different data types

to define list

In [1]:
l = []
myl = list()
print(type(l), type(myl))

<class 'list'> <class 'list'>

In [2]:
myl = [3,'iti', 34.344, 'iti', True, ['python', 'sql'],None]
print(myl)

[3, 'iti', 34.344, 'iti', True, ['python', 'sql'], None]

get len of list

In [3]:
print(len(myl))

7

count element occcurence

In [4]:
print(myl.count('iti'))

2

get index of element ?

In [5]:
print(myl.index('iti'))

1

loop over elements ?

In [6]:
for element in myl:
    print(f"element={element}")

element=3
element=iti
element=34.344
element=iti
element=True
element=['python', 'sql']
element=None

access list items using index

In [7]:
print(myl[4])

True

slicing the list

In [8]:
print(myl[2:])

[34.344, 'iti', True, ['python', 'sql'], None]

get sql ??

In [10]:
print(myl[5][1])

sql

list is mutable datatype

In [11]:
print(myl)
myl[2]='updated'
print(myl)

[3, 'iti', 34.344, 'iti', True, ['python', 'sql'], None]
[3, 'iti', 'updated', 'iti', True, ['python', 'sql'], None]

In [12]:
myl[30]='anyvalue'

IndexError: list assignment index out of range

append element to the list

In [13]:
myl.append("any item")

In [15]:
print(myl)

[3, 'iti', 'updated', 'iti', True, ['python', 'sql'], None, 'any item']

insert element at certain position

In [16]:
myl.insert(4, 'inserted element')
print(myl)

[3, 'iti', 'updated', 'iti', 'inserted element', True, ['python', 'sql'], None, 'any item']

In [17]:
myl.insert(100, 'myval')  # insert at non existing index === append 
print(myl)

[3, 'iti', 'updated', 'iti', 'inserted element', True, ['python', 'sql'], None, 'any item', 'myval']

remove element

In [18]:
popped_element = myl.pop()  # remove the last element
print(popped_element)
print(myl)

myval
[3, 'iti', 'updated', 'iti', 'inserted element', True, ['python', 'sql'], None, 'any item']

pop can accept index

In [19]:
popped_element = myl.pop(5)  # remove the last element
print(popped_element)
print(myl)

True
[3, 'iti', 'updated', 'iti', 'inserted element', ['python', 'sql'], None, 'any item']

remove element ???

In [20]:
myl.remove("iti")
print(myl)

[3, 'updated', 'iti', 'inserted element', ['python', 'sql'], None, 'any item']

check element exists or not in list?

In [21]:
print("iti" in myl)

True

concat list ?

In [22]:
l1 = ['python', 'sql', 'nosql', 'datawherehouse']
l2 = ['presentation skills', 'communication skills']
l3 = l1  + l2 
print(l3)

['python', 'sql', 'nosql', 'datawherehouse', 'presentation skills', 'communication skills']

extend a list

In [23]:
print(l1)
print(l2)

['python', 'sql', 'nosql', 'datawherehouse']
['presentation skills', 'communication skills']

In [24]:
l1.extend(l2)
print(l1)
print(l2)

['python', 'sql', 'nosql', 'datawherehouse', 'presentation skills', 'communication skills']
['presentation skills', 'communication skills']

# list elements must be from the same type
sort list items (sort the same list )

In [25]:
print(l1)
l1.sort()
print(l1)

['python', 'sql', 'nosql', 'datawherehouse', 'presentation skills', 'communication skills']
['communication skills', 'datawherehouse', 'nosql', 'presentation skills', 'python', 'sql']

In [27]:
ll = ['ahmed mohamed','ahmed Mohamed', 'ali','Noha' ]
ll.sort()
print(ll)

['Noha', 'ahmed Mohamed', 'ahmed mohamed', 'ali']

# sort elements descending

In [28]:
l1.sort(reverse=True)
print(l1)

['sql', 'python', 'presentation skills', 'nosql', 'datawherehouse', 'communication skills']

# reverse a list ?

In [29]:
print(myl)
myl.reverse()
print(myl)

[3, 'updated', 'iti', 'inserted element', ['python', 'sql'], None, 'any item']
['any item', None, ['python', 'sql'], 'inserted element', 'iti', 'updated', 3]

split string to a list

In [30]:
msg = 'I love python'
res = msg.split(" ")
print(res)

['I', 'love', 'python']

join list of strings into one string ?

In [35]:
students = ['ahmed', 'mohamed', 'ali', 'sara']
newstr = '     '.join(students)
print(newstr, type(newstr))

ahmed     mohamed     ali     sara <class 'str'>

# min-max
list items must be from the same type

In [36]:
print(min(l1))

communication skills

In [37]:
print(max(myl))

TypeError: '>' not supported between instances of 'NoneType' and 'str'

# enumerate

In [38]:
print(myl)

['any item', None, ['python', 'sql'], 'inserted element', 'iti', 'updated', 3]

In [39]:
myl_enum = enumerate(myl)
print(myl_enum)  # enumerate object --> generate index for each item

<enumerate object at 0x7d712176d7b0>

In [40]:
for index , item in myl_enum:
    print(f"index= {index}, item={item}")

index= 0, item=any item
index= 1, item=None
index= 2, item=['python', 'sql']
index= 3, item=inserted element
index= 4, item=iti
index= 5, item=updated
index= 6, item=3

cast string to list

In [41]:
message= 'hello world'
print(list(message))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
#noha  ===> nh

# 3 
# [
#   [1],
#[2,4],
# [3,6,9]
# ]

# use only the basics we illustrated together in the lecture