# classes

In [ ]:
class Employee:
    def __init__(self,id, name ,salary):
        # id , name , salary --> instance variables 
        self.id = id 
        self.name = name
        self.salary = salary
    
    def display(self): # instance methods 
        print(f"Employee ID: {self.id}, Name: {self.name}, Salary: {self.salary}")

In [ ]:
emp1=  Employee(1,"John",5000)
emp2  =Employee(2,"Jack",6000)
emp3 = Employee(3,"Abc",9000)

access instance variables using variable name / reference

In [ ]:
print(emp1.salary)

In [ ]:
emp1.salary = 346346

In [ ]:
print(emp2.salary)

In [ ]:
print(emp2.name)

emp1.display()

In [ ]:
emp2.display()
print(emp3.__dict__)

# count no of objects created from the class

In [ ]:
class Employee:
    def __init__(self,id, name ,salary):
        # id , name , salary --> instance variables 
        self.id = id 
        self.name = name
        self.salary = salary
        self.count = 0
        self.count +=1 
    
    def display(self): # instance methods 
        print(f"Employee ID: {self.id}, Name: {self.name}, Salary: {self.salary}")

In [ ]:
emp1=  Employee(1,"John",5000)
emp2  =Employee(2,"Jack",6000)
emp3 = Employee(3,"Abc",9000)

In [ ]:
print(emp3.count)

check this

In [ ]:
counter = 0  # global variable
class Employee:
    def __init__(self,id, name ,salary):
        # id , name , salary --> instance variables 
        self.id = id 
        self.name = name
        self.salary = salary
        global counter
        counter +=1
    
    def display(self): # instance methods 
        print(f"Employee ID: {self.id}, Name: {self.name}, Salary: {self.salary}")

In [ ]:
emp1=  Employee(1,"John",5000)
emp2  =Employee(2,"Jack",6000)
emp3 = Employee(3,"Abc",9000)

In [ ]:
print(counter)

# define destructor

In [ ]:
counter = 0  # global variable
class Employee:
    def __init__(self,id, name ,salary):
        # id , name , salary --> instance variables 
        self.id = id 
        self.name = name
        self.salary = salary
        global counter
        counter +=1
    
    def display(self): # instance methods 
        print(f"Employee ID: {self.id}, Name: {self.name}, Salary: {self.salary}")
        
    # destructor
    def __del__(self):
        print("---- this function is called when object is deleted----")
        global counter
        counter -= 1

In [30]:
print(counter)
emp1=  Employee(1,"John",5000)
emp2  =Employee(2,"Jack",6000)
emp3 = Employee(3,"Abc",9000)
print(counter)

0
---- this function is called when object is deleted----
---- this function is called when object is deleted----
1

In [31]:
del emp1

---- this function is called when object is deleted----

In [32]:
print(counter)

0

# define class variable --> variable refer to class property //  doesn't depend on any instance

In [33]:
class Employee:
    empcount = 0 #class variable 
    def __init__(self, id, name, salary):
        self.id = id
        self.name = name
        self.salary = salary
        Employee.empcount +=1
        

    def display(self):  # instance methods
        print(f"Employee ID: {self.id}, Name: {self.name}, Salary: {self.salary}")

    # destructor
    def __del__(self):
        print("---- this function is called when object is deleted----")
        Employee.empcount -= 1

In [34]:
print(Employee.empcount)

0

In [36]:
emp2= Employee(1,'Ahmed', 89323)
print(Employee.empcount)

---- this function is called when object is deleted----
1

In [37]:
print(emp2.empcount)

1

In [38]:
print(emp2.__dict__)

{'id': 1, 'name': 'Ahmed', 'salary': 89323}

# class variable 
    --> shared property between all instance from the class
    --> this variable represent class property --> doesn't depend on any instance
    --> can be access by either classname or instance name

In [39]:
Employee.city = 'Egypt'

# ******************* Class Method ************************

In [45]:
class Employee:
    empcount = 0 #class variable 
    def __init__(self, id, name, salary):
        self.id = id
        self.name = name
        self.salary = salary
        Employee.empcount +=1
    # define class method 
    # use classmethod decorator --> 
    @classmethod
    def get_emp_count(cls):
        print(cls ) # represent the class 
        print(cls.empcount)

# emp1= Employee(1,"John",5000)

In [46]:
Employee.get_emp_count()

<class '__main__.Employee'>
0

In [43]:
print(Employee)

<class '__main__.Employee'>

In [47]:
emp = Employee()

TypeError: Employee.__init__() missing 3 required positional arguments: 'id', 'name', and 'salary'

# I need to define new method inside the class --> create new default object

In [50]:
class Employee:
    empcount = 0 #class variable 
    def __init__(self, id, name, salary):
        self.id = id
        self.name = name
        self.salary = salary
        Employee.empcount +=1
    @classmethod
    def get_emp_count(cls):
        print(cls ) # represent the class 
        print(cls.empcount)
    
    @classmethod # class method acts as object factory
    def create_default_emp(cls):
        newemp = cls(100,"default", 898323)
        return newemp
        
emp = Employee(1,"Ahmed", 89323) # this call __init__
# create default object without explicitly call the constructor
emp2=  Employee.create_default_emp()
print(Employee.empcount)
print(emp2.__dict__)
print(Employee.empcount)

2
{'id': 100, 'name': 'default', 'salary': 898323}
2

# ********************************************************

In [51]:
class Employee:
    def __init__(self, id, name, salary):
        self.id = id
        self.name = name
        self.salary = salary

emp1 = Employee(1,"Ahmed",89323)
emp2= Employee(2,'test', 3455)
def calnetsal(salary):
    return salary * .8

print(calnetsal(500))
print(calnetsal(emp1.salary))

400.0
71458.40000000001

In [52]:
class Employee:
    def __init__(self, id, name, salary):
        self.id = id
        self.name = name
        self.salary = salary
    def calnetsal(salary):
        return salary * .8

emp1 = Employee(1,"Ahmed",89323)
print(emp1.calnetsal())
emp2= Employee(2,'test', 3455)
# def calnetsal(salary):
#     return salary * .8
# 
# print(calnetsal(500))
# print(calnetsal(emp1.salary))

TypeError: unsupported operand type(s) for *: 'Employee' and 'float'

In [57]:
class Employee:
    def __init__(self, id, name, salary):
        self.id = id
        self.name = name
        self.salary = salary
    
    @staticmethod
    def calnetsal(salary):
        print(salary)
        return salary * .8

emp1 = Employee(1,"Ahmed",89323)
print(emp1.calnetsal(emp1.salary))
print(Employee.calnetsal(100000))

89323
71458.40000000001
100000
80000.0