# What is set
1- unordered datatype
2- remove duplicates
3- no index

In [3]:
mys = {'iti', 3,None , True, 44.444, ('iti', 'iti'), 'iti','iti', 10,
       'sql', 'bigdata'}
print(mys)

{True, 3, 'bigdata', 'sql', 'iti', 10, None, 44.444, ('iti', 'iti')}

set is mutable datatype

In [4]:
mys.add('new element')
print(mys)

{True, 3, 'bigdata', 'sql', 'iti', 10, None, 44.444, 'new element', ('iti', 'iti')}

In [5]:
mys.remove('bigdata')
print(mys)

{True, 3, 'sql', 'iti', 10, None, 44.444, 'new element', ('iti', 'iti')}

In [6]:
popped_item=mys.pop()
print(mys)
print(popped_item)

{3, 'sql', 'iti', 10, None, 44.444, 'new element', ('iti', 'iti')}
True

check element exists or not

In [7]:
print('iti' in mys)

True

loop over set

In [8]:
for item in mys:
       print(f"item = {item}")

item = 3
item = sql
item = iti
item = 10
item = None
item = 44.444
item = new element
item = ('iti', 'iti')

# add list to the set ?

In [9]:
mys.add(['sql', 'bigdata'])

TypeError: unhashable type: 'list'

# set allows only hashable types (immutable datatypes)

In [10]:
mys.add(('sql', 'bigdata'))
print(mys)

{3, 'sql', 'iti', 10, None, 44.444, 'new element', ('iti', 'iti'), ('sql', 'bigdata')}

clear

In [11]:
l  =[434,434,342]
print(l)
l.clear()
print(l)

[434, 434, 342]
[]

In [12]:
mys.clear()

In [13]:
print(mys)

set()

In [14]:
mys = {'iti', 3,None , True, 44.444, ('iti', 'iti'), 'iti','iti', 10,
       'sql', 'bigdata'}

print(mys)

{True, 3, 'bigdata', 'sql', 'iti', 10, None, 44.444, ('iti', 'iti')}

In [15]:
print(mys.count('iti'))

AttributeError: 'set' object has no attribute 'count'